.me-page__container {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-areas: "profile profile"
                       "sitebar content"
                       "sitebar content";
  grid-template-rows: 200px 100%;
  grid-template-columns: 4fr 8fr;
}

.profile-user {
  grid-area: profile;
}

.sitebar{
  grid-area: sitebar;
}

.content-user {
  grid-area: content;
}
