.create-rate {
  height: 100%;
}

.create-rate_wrapper {
  margin: 0 auto;
  width: 263px;
}

.create-rate_form {
  min-width: 800px;
}

.create-rate_title {
  margin-top: 20px;
  text-align: center;
}

.create-rate_content {
  margin: 20px auto;
}

.creat-pain-props {
  margin: 20px auto 0;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.create-rate_input {
  margin-top: 10px;
  width: 250px;
  padding-left: 10px;
  height: 30px;
  border: 0.5px solid;
}

.create-rate_select{
  margin-top: 10px;
  width: 250px;
}

.create-rate_textarea {
  margin-top: 10px;
  width: 250px;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  border: 0.5px solid;
}

.create-rate_item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .create-rate_item {
} */

.create-rate_add-rate-item {
  /* margin-top: 10px; */
  /* width: 50px; */
  /* height: 30px; */
}

.create-rate_add-rate-title {
  width: 225px;
  float: left;
}

.create-rate_btn-group {
  width: 250px;
}

.create-rate_btn {
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
