.create-rates-list {
  width: 100%;
}

.create-rates-list__container {
  margin: 0 auto;
  width: 500px;
}

.create-rates-list_title {
  text-align: center;
}

.create-rates-item_rates {
  width: 300px;
  margin: 0 auto;
}

.create-rates-item_header {
  border-bottom: 0.5px solid black;
  padding: 3px 3px 3px 5px;
  font-size: 18px;
  font-weight: bold;
}

.create-rates-item_rate {
  list-style-type: none;
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
}

.create-rates-item__content {

}

.create-rates-item_content_text {
  display: block;
  min-height: 30px;
  padding-left: 5px;
}

.create-rates-item_footer{
  border-top: 0.5px solid;
  font-size: 12px;
}
